@charset "UTF-8";
/*@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono|Droid+Serif:400,700,400italic,700italic);*/

html,body{-webkit-user-select: none;margin:0;}
body{font-family:sans-serif;max-width:500px;margin:0 auto;-webkit-tap-highlight-color: rgba(255, 255, 255, 0);}
h1,h2{font-family:serif;font-style:italic;font-size:1.3em;font-weight: normal}
a {color:inherit;}
a.button {color:inherit;text-decoration:none;background:whitesmoke;padding: 2px 3px;margin:-3px 0;-webkit-border-radius:6px;border-radius:6px;border:1px solid #b6b6b6;}
a.button:hover {background:#b6b6b6;}
.ib {display:inline-block}

/*a{display:inline-block}*/
#countries li{margin:0.5em 0;}
#header {background:gray url(img/bg.png);height:42px;}
#header h1 {margin:0;padding:10px 4% 8px;display:inline-block;font-style:normal;float:left;font-weight: normal;color:white;}
#header h1 a {text-decoration:none;}
#header h1 {height:20px;padding:10px 4% 12px;margin:0;background:none;}
#header h1 img {height:20px;}
#header a.menubutton {height:24px;width:24px;float:right;padding:9px 4%;}
#header a.menubutton:hover {background:rgba(255,255,255,0.3)}
#header a.menubutton img {height:24px;}

#content {clear:both;margin:auto 4%}

/* Welcome page */

ul.choose {padding-left:0;font-size:1.2em;border:1px solid #d5d5d5;-webkit-border-radius:7px;border-radius:7px;}
ul.choose li {border-bottom:1px solid #d5d5d5;list-style: none;padding:10px;}
ul.choose li:hover {cursor: pointer;background:whitesmoke;}
ul.choose li:first-child {border-radius:7px 7px 0 0;}
ul.choose li:last-child {border-bottom:none;}
ul.choose li img {margin-right:0}
ul.choose li .country {display:inline-block;margin:0 10px;font-weight: bold;}
ul.choose li a {text-decoration:none;color:inherit;}

p.chooseline {text-align:center;color:gray;}
p.morecountries {text-align:center;clear:both;color:gray;}

/*.ticker {height: 1.2em;overflow: hidden;margin: 24px;padding: 0;list-style: none;text-align: center;color:gray}*/

/* About page */
div#accordion p:first-child {margin-top: 0}
div#accordion p:last-child {margin-bottom: 0}
div#accordion {margin:6px 0}
div#accordion h2 {border-top:1px solid #d5d5d5;padding:10px 4% 8px;margin:0 -4%}
div#accordion h2:first-child {border-top:none;}
div#accordion div {padding:6px 0 16px;}

/* News pages */
.newstopbar {margin:16px 0 12px;}
.newstopbar h1{display:inline-block;margin:0}
.refresh {display:inline;float:right;}
p.info {background: url(img/info.png);background-repeat: no-repeat;padding-left:22px}
p.info a {display:inline:block} 

p.loading {font-size: 0.8em;color:gray;}

div.news {margin:auto -4%;padding:10px 4% 14px;border-bottom:1px solid #d5d5d5;}
div.news h3 {margin: 0.6em 0;}
div.news p {margin:0.6em 0;/*font-family:serif;*/}

div.meta {margin-top:1em}
div.meta div, div.meta a {/*display:inline-block;*/margin-right:16px;}
div.meta span.source-name {font-weight: bold;}
div.meta img.country-flag {margin-right:6px;}

/*div.meta .source {display:inline-block;}
div.meta div.links {display:inline-block;}*/
div.meta div.links {margin:0.6em 0;}
div.meta div.links a {margin:-3px 12px -3px 0;}
div.meta .source-translated.lang-en {display:none;}

.newsbox div.news:first-child {border-top:1px solid #d5d5d5}

/* Categories */
.category {padding: 1px 4px 0;font-size: 0.7em;line-height: 1.3em;display:inline-block;text-transform: uppercase;-webkit-border-radius: 3px;border-radius: 3px;}

/* Categories colors */
.category-economics {background:#fcd9a7;color:black;}
.category-politics {background:#334eb8;color:white;}
.category-society {background:#CE534D;color:white;}
.category-culture {background:#a93143;color:white;}
.category-science, .category-tech, .category-others {background:#4e707f;color:white;}
.category-sports {background:#55ad38;color:white;}
.category-ideas {background:#f2f968;color:black;}
.category-others {display:none}

/*body{font-family:"Droid Sans"}
h1,h2,div.news p{font-family:"Droid Serif"}*/

/* If you have arrived here, you're interested in EuroMirror. Thanks for your attention. You can follow me on Twitter, I'm @juanruitina. */